.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    outline: none; /* Removes default outline */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.button.active {
    background-color: #0056b3;
}

.form-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none; /* Removes default outline */
}

.input:focus {
    border-color: #007bff; /* Highlights input when focused */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-button {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #28a745;
    color: #fff;
    border: none;
    width: 100%;
    outline: none;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #218838;
}
